#container
  #toolbar
    input#add(value='Enter task here')
    input#username
    a.led
  #kanban

script(type="text/javascript", src="javascript/app/models/models.js")
script(type="text/javascript", src="javascript/app/views/views.js")
script(type="text/javascript", src="javascript/app/client.js")
