#container
  #register
    label User Name:
    input#username
  #toolbar
    input#add
    a.led
  #kanban

script(type="text/javascript", src="javascript/app/models/models.js")
script(type="text/javascript", src="javascript/app/views/views.js")
script(type="text/javascript", src="javascript/app/client.js")
