#container
  #toolbar
    input#add(value='Enter task here')
    input#username
    a.led
  #kanban

script(type="text/javascript", src="javascript/app/models/models.js")
script(type="text/javascript", src="javascript/app/views/User_View.js")
script(type="text/javascript", src="javascript/app/views/views.js")
script(type="text/javascript", src="javascript/app/views/List_View.js")
script(type="text/javascript", src="javascript/app/views/Item_View.js")
script(type="text/javascript", src="javascript/app/controllers/backbone_controller.js")
