!!! 5
html(lang="en")
  head
    title TodoZ
    script(type="text/javascript", src="javascript/lib/jquery.js")
    script(type="text/javascript", src="javascript/lib/underscore.js")
    script(type="text/javascript", src="javascript/lib/backbone.js")
  head
    title= title
  body!= body
