!!! 5
html(lang="en")
  head
    title TodoZ
   
    link(rel='stylesheet', href='javascript/test-js/lib/jasmine-1.1.0/jasmine.css')
    script(type="text/javascript", src="javascript/test-js/lib/jasmine-1.1.0/jasmine.js")
    script(type="text/javascript", src="javascript/test-js/lib/jasmine-1.1.0/jasmine-html.js")

    script(type="text/javascript", src="javascript/lib/jquery.js")
    script(type="text/javascript", src="javascript/lib/underscore.js")
    script(type="text/javascript", src="javascript/lib/backbone.js")
    script(type="text/javascript", src="javascript/lib/jade.js")
    script(type="text/javascript", src="javascript/lib/jade-shim.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='stylesheets/style.css')
      
  head
    title= title
  body!= body
