!!! 5
html(lang="en")
  head
    link(rel='stylesheet', href='javascript/test-js/lib/jasmine-1.1.0/jasmine.css')
    //script(type="text/javascript", src="javascript/test-js/lib/jasmine-1.1.0/jasmine.js")
    script(type="text/javascript", src="javascript/test-js/lib/jasmine-1.1.0/jasmine-html.js")

    script(type="text/javascript", src="javascript/app/models/models.js")
    script(type="text/javascript", src="javascript/app/views/User_View.js")
    script(type="text/javascript", src="javascript/app/views/views.js")
    script(type="text/javascript", src="javascript/app/views/List_View.js")
    script(type="text/javascript", src="javascript/app/views/Item_View.js")
    script(type="text/javascript", src="javascript/app/controllers/backbone_controller.js")

    script(type="text/javascript", src="javascript/test-js/spec/listview_spec.js")

