body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  margin: 0;
  background: #D9DFE4; }

#toolbar {
  background: url("../img/sprite-x.png") repeat-x 0 0;
  height: 52px;
  padding: 0 10px;
  overflow: hidden;
  color: #FFF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 2px 3px #999;
  -moz-box-shadow: 0px 2px 3px #999;
  -o-box-shadow: 0px 2px 3px #999;
  -webkit-box-shadow: 0px 2px 3px #999;
  -ms-box-shadow: 0px 2px 3px #999; }
  #toolbar #add {
    width: 50%;
    color: #a1a1a1;
    font-style: italic; }
  #toolbar #username {
    width: 25%;
    left: 10px;
    text-align: center;
    color: #a1a1a1;
    font-style: italic; }
  #toolbar #addColumn{
    width: 15%;
    left: 20px;
    text-align: center;
    font-style: italic; 
    }
  #toolbar input {
    top: 8px;
    position: relative;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
    -webkit-appearance: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #1D1D1D;
    float: left;
    border: none; }

.led {
  float: right;
  display: block;
  background: transparent url("../img/leds.png") no-repeat 0 50%;
  width: 24px;
  height: 100%; }
  .led.off {
    background-position: -24px 50%; }

#kanban {
  overflow: hidden;
  margin-top: 56px;
  padding: 20px; }
  #kanban .total {
    float: right; }
  #kanban .total {
    float: right;
    margin: 0px 10px; }
  #kanban ol, #kanban ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #kanban ol .item, #kanban ul .item {
      padding: 6px 10px; }
    #kanban ol li, #kanban ul li {
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid #D8D8D8;
      background: #F4F4F4; }
    #kanban ol li, #kanban ol input, #kanban ul li, #kanban ul input {
      font-size: 15px;
      line-height: 24px; }
    #kanban ol input, #kanban ul input {
      width: 100%;
      line-height: 14px; }
    #kanban ol .delete, #kanban ul .delete {
      color: red;
      float: right; }
  #kanban .column {
    border-radius: 5px;
    box-shadow: 0 0 5px #AAA;
    background: #EAEAEA;
    border: 1px solid #9E9E9E;
    margin: 0 15px;
    float: left;
    height: 100%; }
    #kanban .column h1 {
      text-align: center; }
